# Pandas, une librairie "structurante"
__Dur√©e : 1h__

## Pourquoi utiliser Pandas
 * Construit sur les librairies de la stack Scipy
 * Manipulation "facile" de tableaux : un "Excel" en Python

In [9]:
import pandas as pd

In [45]:
["un","deux","trois"] == "un"

False

In [43]:
serie = pd.Series(["un",1,"trois","quatre","cinq"])

In [46]:
serie == "un"

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [47]:
age = pd.Series([4,78,67,43,32,43,10,10,10])

In [48]:
age.unique()

array([ 4, 78, 67, 43, 32, 10])

In [49]:
age.value_counts()

10    3
43    2
78    1
4     1
67    1
32    1
dtype: int64

In [67]:
df = pd.DataFrame()

In [59]:
type(df)

pandas.core.frame.DataFrame

In [68]:
df["Age"] = [1,2,3,4,5,19]

In [69]:
df["Ville"] = ["Paris","Marseille","Strasourg","Nantes","Toulouse",None]

In [73]:
df

   Age      Ville
0    1      Paris
1    2  Marseille
2    3  Strasourg
3    4     Nantes
4    5   Toulouse
5   19       None

In [64]:
df.iloc[2]

Age              3
Ville    Strasourg
Name: 2, dtype: object

In [65]:
df.iloc[2:4]

   Age      Ville
2    3  Strasourg
3    4     Nantes

In [80]:
df.iloc[-3:]

   Age     Ville
3    4    Nantes
4    5  Toulouse
5   19      None

In [77]:
df[pd.isnull(df["Ville"])]

   Age Ville
5   19  None

In [78]:
df[df["Age"]==4]

   Age   Ville
3    4  Nantes

In [79]:
df[(df["Age"]==4) & pd.isnull(df["Ville"])]

Empty DataFrame
Columns: [Age, Ville]
Index: []

In [84]:
pd.DataFrame([["un",1],["deux",2],["trois",3]],columns=["lettres","chiffres"]).T

           0     1      2
lettres   un  deux  trois
chiffres   1     2      3

In [85]:
df

   Age      Ville
0    1      Paris
1    2  Marseille
2    3  Strasourg
3    4     Nantes
4    5   Toulouse
5   19       None

In [89]:
for index,contenu in df.iterrows():
    print(contenu)

Age          1
Ville    Paris
Name: 0, dtype: object
Age              2
Ville    Marseille
Name: 1, dtype: object
Age              3
Ville    Strasourg
Name: 2, dtype: object
Age           4
Ville    Nantes
Name: 3, dtype: object
Age             5
Ville    Toulouse
Name: 4, dtype: object
Age        19
Ville    None
Name: 5, dtype: object

In [90]:
def codage_age(age):
    if age<18:
        return "mineur.e"
    else:
        return "majeur.e"

In [94]:
df["Age-reco"] = df["Age"].apply(codage_age)

In [95]:
df

   Age      Ville  Age-reco
0    1      Paris  mineur.e
1    2  Marseille  mineur.e
2    3  Strasourg  mineur.e
3    4     Nantes  mineur.e
4    5   Toulouse  mineur.e
5   19       None  majeur.e

In [97]:
df[df["Age-reco"]=="majeur.e"]

   Age Ville  Age-reco
5   19  None  majeur.e

In [98]:
df["Age-reco"].value_counts()

mineur.e    5
majeur.e    1
Name: Age-reco, dtype: int64

## Bases de Pandas
* Le format DataSerie
 * Cr√©er une DataSerie avec les dates
 * Ajouter/supprimer un √©l√©ment
* Le format DataFrame
 * Cr√©er une nouvelle s√©rie avec les titres
 * Cr√©er un DataFrame avec les deux ensembles
 * Ajouter une colonne
 * S√©lectionner un √©l√©ment particulier
 * Faire un masque de s√©lection
 * Faire une boucle sur le tableau

## Travailler sur un Dataframe

* Charger un fichier excel
 * Charger la base de donn√©es compl√®tes base.xlsx
 * Joindre la s√©rie des dates recod√©es
 * Apprendre √† recoder des colonnes
 * Grouper les donn√©es

In [103]:
corpus = pd.read_excel("./Donn√©es/base.xlsx")

In [115]:
def compter_nombre_mots(texte):
    texte = texte.replace("'",' ') # il y a des apostrophes √† g√©rer
    texte = texte.replace("  "," ") # il y a de temps en temps deux espaces √† la suite
    mots = texte.split(" ")
    return len(mots)

In [117]:
corpus["Nombre de mots v2"] = corpus["Contenu"].apply(compter_nombre_mots)

In [118]:
corpus

,Date,Titre,Journal,Contenu,Nombre de mots,Nombre de mots v2
0,"Science & M√©decine, mercredi 23 mai 2018 246...",Hom√©opathie Une r√©glementation √† haute diluti...,Le Monde,(Lyon; correspondant); - Quand on lui parle ...,2546,2679
1,"Science & M√©decine, mercredi 28 novembre 201...","Nofakemed, sympt√¥me d'un malaise m√©dical Nofa...",Le Monde,Les m√©decines compl√©mentaires et en particul...,2446,2545
2,"France, vendredi 7 septembre 2018 692 mots, ...",Hom√©opathie : les doyens des facult√©s de m√©de...,Le Monde,Le pr√©sident de la conf√©rence des doyens des...,710,748
3,"France, vendredi 31 ao√ªt 2018 402 mots, p. 11","Hom√©opathie : entre m√©decins, la guerre au gr...",Le Monde,√† Londres - L'hom√©opathie est en Angleterre ...,404,431
4,"France, vendredi 31 ao√ªt 2018 1203 mots, p. 11","Hom√©opathie : entre m√©decins, la guerre au gr...",Le Monde,"C√©line Berthi√©, 36 ans, est m√©decin g√©n√©rali...",1264,1323
5,"Science & M√©decine, mercredi 4 avril 2018 14...",Les m√©decines alternatives doivent-elles √™tre...,Le Monde,"Une nouvelle fois, les m√©decines dites alter...",1468,1560
6,"France, vendredi 31 ao√ªt 2018 572 mots, p. 11","Hom√©opathie : entre m√©decins, la guerre au gr...",Le Monde,"Avant la fin de f√©vrier 2019, la Haute Autor...",579,600
7,"Science & M√©decine, mercredi 28 novembre 201...","Nofakemed, sympt√¥me d'un malaise m√©dical En e...",Le Monde,Dans le collimateur du mouvement des Fakemed...,547,577
8,"Science & M√©decine, mercredi 23 mai 2018 596...",Hom√©opathieUne r√©glementation √† haute dilutio...,Le Monde,L'Acad√©mie nationale de m√©decine est elle au...,625,658
9,"Id√©es, samedi 27 octobre 2018 794 mots, p. I...","Tribune Hom√©opathie, efficace placebo",Le Monde,Faut-il rembourser l'hom√©opathie? D√©bat seco...,809,861
10,"Science & M√©decine, mercredi 23 mai 2018 573...",Hom√©opathieUne r√©glementation √† haute dilutio...,Le Monde,"A ce jour, le seul ministre de la sant√© √† av...",606,639
11,"Science & M√©decine, mercredi 9 janvier 2019 ...",T√©lescopeM√©decine L'hom√©opathie n'est ¬´ pas p...,Le Monde,¬´ Il est clairement et solidement d√©montr√© q...,127,135
12,"France, mardi 4 septembre 2018 126 mots, p. 7",SANT√â La facult√© de m√©decine de Lille suspend...,Le Monde,"La facult√© de m√©decine de Lille a annonc√©, d...",121,124
13,"Science & M√©decine, mercredi 26 d√©cembre 201...",2018 en images,Le Monde,P√®re indigne de b√©b√©s n√©s sous Crispr Le bio...,2922,3089
14,"Science & M√©decine, mardi 25 d√©cembre 2018 1...",L'hom√©opathie renvers√©e par Les #Nofakemeds?,Le Monde,L'hom√©opathie est-elle √† un tournant de son ...,151,152
15,"Sp√©cial, mardi 25 septembre 2018 231 mots, p...",Un week-end et plus de 40 rencontres pour se ...,Le Monde,Le retour fracassant du d√©bat sur les vertus...,229,233
16,"France, samedi 25 ao√ªt 2018 103 mots, p. 10",Sant√© Remboursement de l'hom√©opathie : r√©pons...,Le Monde,Le minist√®re de la sant√© a saisi la Haute Au...,101,106
17,"Science & M√©decine, mercredi 23 mai 2018 142...",HOM√âOPATHIE UNE R√âGLEMENTATION √Ä HAUTE DILUTI...,Le Monde,"Sur le march√© de l'hom√©opathie, qui repr√©sen...",136,140
18,"A la Une, mercredi 23 mai 2018 44 mots, p. 1",Science & m√©decine Bataille contre le rembour...,Le Monde,Pr√®s de 2 400 m√©decins appellent √† ne plus r...,46,43
19,"Id√©es, samedi 29 septembre 2018 993 mots, p....",Les labos contre l'hom√©opathie,Le Monde,Et si on commen√ßait par se d√©barrasser de to...,1029,1088
20,"A la Une, vendredi 31 ao√ªt 2018 109 mots, p. 1",Sant√© L'hom√©opathie s√®me la discorde entre m√©...,Le Monde,Le conflit virulent mais larv√© entre profess...,108,111
21,"Science & M√©decine, mercredi 28 novembre 201...",Alexandre Klein : ¬´ Il y a des enjeux corpora...,Le Monde,Docteur en philosophie et histoire des scien...,890,937
22,"Id√©es, samedi 30 septembre 2017 428 mots, p....",Confesser le pape Fran√ßois sur le divan,Le Monde,"Dans ses entretiens avec ¬≠Dominique Wolton, ...",447,468
23,"L'√âpoque, lundi 9 octobre 2017 762 mots, p. ...","Enqu√™te ¬´ Si c'est naturel, c'est n√©cessairem...",Le Monde,Premier week-end d'octobre. Les pavillons au...,813,857
24,"Sp√©cial, mercredi 13 d√©cembre 2017 371 mots,...",Notre s√©lection de champagnes Pascal Agrapart...,Le Monde,"A Avize, village class√© grand cru de la c√¥te...",379,387
25,"Science & M√©decine, mercredi 29 novembre 201...",Cancer : des freins √† l'acc√®s aux immunoth√©ra...,Le Monde,Innovation dans le domaine du cancer du poum...,1083,1118
26,"Le Monde des Livres, vendredi 13 avril 2018 ...",Critiques Essais Overdose de neurosciences co...,Le Monde,"Sociologue, directeur de ¬≠recherches au CNRS...",568,595
27,"Id√©es, samedi 29 septembre 2018 8 mots, p. I...",4 tribune,Le Monde,La croisade des laboratoires contre l'hom√©op...,10,9
28,"Sp√©cial, jeudi 21 juin 2018 360 mots, p. SPA2",Des terroirs biodynamiques,Le Monde,C'est en traitant ses vignes avec un insecti...,379,386
29,"Id√©es, samedi 27 octobre 2018 8 mots, p. IDH1",4 tribune,Le Monde,"L'hom√©opathie, l'effet placebo et la solidar...",10,10
30,"Science & M√©decine, mercredi 16 janvier 2019...","Jean-G√©rard Bloch, pionnier de la m√©ditation ...",Le Monde,Conna√Ætre la nature humaine. ¬ª Telle √©tait l...,1321,1377
31,"France, vendredi 28 septembre 2018 1603 mots...",Portrait Agn√®s Buzyn pr√™te √† donner de la voi...,Le Monde,Je suis tr√®s √©nerv√©e! ¬ª Mains crois√©es devan...,1599,1684
32,"Agenda, mardi 15 janvier 2019 30 mots, p. 21",France 5,Le Monde,"20.50 Enqu√™te de sant√© Hom√©opathie, bient√¥...",38,34
33,"Sp√©cial, mardi 25 septembre 2018 761 mots, p...",Le Monde Festival Saison 5,Le Monde,"LES LIEUX DU FESTIVAL Op√©ra Bastille, plac...",886,851
34,"Suppl√©ment T√©l√©vision, mardi 15 janvier 2019...",Votre soir√©e t√©l√© mardi 15 janvier,Le Monde,TF1 21.00 S.W.A.T. S√©rie. Avec Shemar Moor...,243,214
35,"L'√âpoque, lundi 8 mai 2017 487 mots, p. EPH8",Objets trouv√©s Pour qui sonne la notification,Le Monde,Une dr√¥le de symphonie dans la poche. Un bip...,510,531
36,"√âco & Entreprise, lundi 4 septembre 2017 125...",Reportage La vache √† cash des nationalistes h...,Le Monde,Ladwa (Haryana) - envoy√© sp√©cial - Anand Kum...,1229,1278
37,"Horizons, vendredi 8 mars 2019 1858 mots, p....",Le viager empoisonn√© La cours d'assises des A...,Le Monde,Nice envoy√©e sp√©ciale - Olivier Cappelaere a...,1934,2047

### Les mots "signifiants" :
 * hom√©opath..
 * alterna...
 * allopath..
 * nofakemed
 * remboursement

In [122]:
def frequence_homeo(texte):
    mot = "homeopath"
    
    #r√®gles de nettoyage du texte
    texte = texte.replace("√©","e") #virer les accents
    texte = texte.lower() #mettre en minuscule
    
    #calcul des fr√©quences
    frequence = len(texte.split(mot))-1
    return frequence

Fonction qui vire les accents

In [121]:
frequence_homeo("il y avait un hom√©opathe cach√© derri√®re le rideau hom√©opathique")

2

In [125]:
corpus["freq-homeo"] = corpus["Contenu"].apply(frequence_homeo)

In [126]:
corpus[0:5]

,Date,Titre,Journal,Contenu,Nombre de mots,Nombre de mots v2,freq-homeo
0,"Science & M√©decine, mercredi 23 mai 2018 246...",Hom√©opathie Une r√©glementation √† haute diluti...,Le Monde,(Lyon; correspondant); - Quand on lui parle ...,2546,2679,43
1,"Science & M√©decine, mercredi 28 novembre 201...","Nofakemed, sympt√¥me d'un malaise m√©dical Nofa...",Le Monde,Les m√©decines compl√©mentaires et en particul...,2446,2545,17
2,"France, vendredi 7 septembre 2018 692 mots, ...",Hom√©opathie : les doyens des facult√©s de m√©de...,Le Monde,Le pr√©sident de la conf√©rence des doyens des...,710,748,15
3,"France, vendredi 31 ao√ªt 2018 402 mots, p. 11","Hom√©opathie : entre m√©decins, la guerre au gr...",Le Monde,√† Londres - L'hom√©opathie est en Angleterre ...,404,431,12
4,"France, vendredi 31 ao√ªt 2018 1203 mots, p. 11","Hom√©opathie : entre m√©decins, la guerre au gr...",Le Monde,"C√©line Berthi√©, 36 ans, est m√©decin g√©n√©rali...",1264,1323,16

In [129]:
def freq_mot(texte,mot):
    #r√®gles de nettoyage du texte
    texte = texte.replace("√©","e") #virer les accents
    texte = texte.lower() #mettre en minuscule
    
    #calcul des fr√©quences
    frequence = len(texte.split(mot))-1
    return frequence

In [132]:
corpus["freq-homeo"] = corpus["Contenu"].apply(lambda contenu : freq_mot(contenu,"homeopath"))
corpus["freq-alterna"] = corpus["Contenu"].apply(lambda contenu : freq_mot(contenu,"alterna"))
corpus["freq-allopath"] = corpus["Contenu"].apply(lambda contenu : freq_mot(contenu,"allopath"))
corpus["freq-nofakemed"] = corpus["Contenu"].apply(lambda contenu : freq_mot(contenu,"nofakemed"))

In [135]:
corpus[0:2]

,Date,Titre,Journal,Contenu,Nombre de mots,Nombre de mots v2,freq-homeo,freq-alterna,freq-allopath,freq-nofakemed
0,"Science & M√©decine, mercredi 23 mai 2018 246...",Hom√©opathie Une r√©glementation √† haute diluti...,Le Monde,(Lyon; correspondant); - Quand on lui parle ...,2546,2679,43,2,2,0
1,"Science & M√©decine, mercredi 28 novembre 201...","Nofakemed, sympt√¥me d'un malaise m√©dical Nofa...",Le Monde,Les m√©decines compl√©mentaires et en particul...,2446,2545,17,3,0,6

In [ ]:
!pip install openpyxl

In [134]:
corpus.to_excel("corpus.xlsx")

##  Ajouter des donn√©es
 * Nombre de mots par texte
 * Que faire des donn√©es manquantes ?
 * Faire une fonction pour calculer la fr√©quence d'un mot
 * Calculer la fr√©quence de certains mots dans les textes (4 ou 5 jug√©s pertinents)
 * Sauvegarder le corpus