## Un peu de théorie

SQL (sigle de Structured Query Language, en français langage de requête structurée) est un langage informatique normalisé servant à exploiter des bases de données relationnelles. La partie langage de manipulation des données de SQL permet de rechercher, d'ajouter, de modifier ou de supprimer des données dans les bases de données relationnelles.

## Les commandes SQL

La formation Software Carpentry : http://swcarpentry.github.io/sql-novice-survey/

Un résumé des commandes : http://www.sqltutorial.org/wp-content/uploads/2016/04/SQL-cheat-sheet.pdf

## Manipuler du SQL en Python

Une librairie intégrée sqlite3

Créer une nouvelle base

In [34]:
import sqlite3
conn = sqlite3.connect('exemple.db')

Créer une table

In [59]:
c = conn.cursor()
c.execute('''CREATE TABLE VOL (ID INTEGER PRIMARY KEY, 
            HEURE_DEPART DOUBLE, VILLE_DEPART TEXT, 
            HEURE_ARRIVEE DOUBLE, VILLE_ARRIVEE TEXT);''')
c.close()

OperationalError: table VOL already exists

Supprimer une table

In [57]:
c = conn.cursor()
conn.execute("DROP TABLE VOL;")
c.close()

In [53]:
import datetime

Insérer une information

In [65]:
c = conn.cursor()
conn.execute("INSERT INTO VOL(ID,HEURE_DEPART,VILLE_DEPART,HEURE_ARRIVEE,VILLE_ARRIVEE) VALUES (1235,32753276732,'PARIS',3232232323,'LYON');")
c.close()

Récupérer une information

In [66]:
c = conn.cursor()
r = conn.execute("SELECT (IMMATRICULATION,VILLE_ATTACHE) FROM AVION INNER JOIN VOL ON VOL.AVION WHERE COUNT() > 15;")
c.close()

In [67]:
for row in r.fetchall():
    print(row)

(1234, 32753276732.0, 'PARIS', 3232232323.0, 'LYON')
(1235, 32753276732.0, 'PARIS', 3232232323.0, 'LYON')

Récupérer les informations sur les tables créées

In [51]:
c = conn.cursor()
table = c.execute("select * from SQLite_master where type=\"table\"")

for i in table.fetchall():
    print(i)

('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')